.form {
  max-width: rem(535);
}

.form__item {
  max-width: rem(408);
  width: 100%;
  &:not(:last-child) {
    margin-bottom: rem(40);
  }
  &_no-max-width {
    max-width: 100%;
  }
}

.form__input {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $main-font-color;
  font: {
    size: rem(18);
    weight: 300;
    family: $main-font;
  }
  color: $main-font-color;
  padding: rem(6 0);
  width: 100%;
  @include input-placeholder {
    font: {
      size: rem(18);
      weight: 300;
      family: $main-font;
    }
    color: $main-font-color;
  }
}
