.intro {
  background: url('../img/intro-bg.jpg') left center no-repeat;
  background-size: cover;
  margin-bottom: rem(27);
}

.intro__info {
  padding: rem(65 20 38 52);
  max-width: rem(386);
}

.intro__container {

}

.intro__images {
  flex-basis: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
