.intro {
  background: url('../img/intro-bg.jpg') center center no-repeat;
  background-size: cover;
}

.intro__info {
  padding: rem(65 20 216 52);
}

.intro__container {

}

.intro__images {
  flex-basis: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
