section(id="about").about
  +title("О фабрике")
  .container
    .about__container
      .about__text
        p История бренда <span class="bold">BERLONI®</span> началась в 60 годах в городке Пезаро - на родине известного композитора Джоакино Росссини. И за полвека фабрика, из маленького семейного предприятия превратилась в одну из самых известных итальянских фабрик по производству кухонь. Каждая модель Берлони имеет свой персональный идентификационный номер.
        p Производственный процесс фабрики полностью автоматизирован, и большая часть времени посвящается проверки качества, контролю на каждом этапе производства и ответственному подходу к выбору поставщиков. Каждая деталь кухонного гарнитура на 100% сделана в Италии. 
        p Важно отметить, что особое внимание фабрика уделяет экологичности материалов. <span class="bold">BERLONI®</span> - одна из первых итальянских компаний, которые стали использовать древесину, сертифицированную категорией Е.  
      .about__img
        img(src="img/about.jpg", alt="Фабрика Berloni")
