.characteristics
  .characteristics__title Современный стиль. Модель Canova  
  .characteristics__types
    .characteristics__subtitle.characteristics__subtitle_margin-bottom Доступные фасады
    .characteristics__types-container
      .characteristics__type.characteristics__type_color-676155
      .characteristics__type.characteristics__type_color-D9D4D0
      .characteristics__type.characteristics__type_color-5B5B5B
      .characteristics__type.characteristics__type_color-A5988D
  .characteristics__delivery
    .characteristics__subtitle Сроки поставки:&nbsp;
      span.characteristics__text 3 месяца
  .characteristics__materials
    .characteristics__subtitle Материалы:&nbsp;
      span.characteristics__text шпонированный дуб, толщиной 23 мм
