- 
  var navLinks = [
    "Преимущества",
    "Цены",
    "Отзывы",
    "Процесс покупки",
    "Контакты"
  ]
  
nav.nav
  .container
    .nav__container
      for item in navLinks
        .nav__item 
          a.nav__link= item
